body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('../images/fondo-dif.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body.casa {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../images/fondo.jpg');
}
body.trailer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../images/Fondo4.jpg');
}
body.contacto {
  margin: 0;
  padding: 0;
  background-image: url('../images/fond_form2.jpg');
}
header {
  margin: 0;
}
section {
  width: 100%;
  height: 100%;
  margin: 0;
}
article {
  width: 100%;
  height: 100%;
  margin: 0;
}
.trailer {
  margin: 0% auto;  
  height: 100vh;
 /* background-image: url('../images/Fondo4.jpg');
  background-size: cover;
  background-position: center;*/
  width: 100%;
}
.trailer h2 {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 10px;
}
article.personajes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  justify-content: space-evenly;
  margin-left: 2%;
}
.personajes p{
  color: #000;
  FONT-SIZE: x-large;
  text-align: center;
}
img.fondo {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
article.personajes div{
  width: 150PX;
  margin-top: 10%;
  background: rgba(122, 120, 120, 0.397); 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color: rgb(255, 255, 255); 
  padding: 10px; 
  display: grid;
}
.personajes div:hover{
  transform: scale(1.1);
}
.video {
  display: inline-flex;
}
.video iframe{
  margin-top: 2%;
  height: 400px; 
  width: 40%;
  
}
.video p{
  margin-left: 5%;
  margin-right: 7%;
  height: 20%;
  background: rgba(247, 247, 247, 0.726); 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color: #333; 
  padding: 10px; 
}
h1 {
  margin-top:3.5%;
  font-family: 'Titillium Web', sans-serif;
  font-size:3rem;
  -webkit-text-stroke: 1.3px #000; 
  margin-bottom: 10px;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.introduction {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  color: #000000;
  margin-bottom: 20px;
  width: 40%;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: bold;

}



a:hover {
  color: #ff4500;
}
/*Estilos para estar*/
.rating {
  position: fixed;
  top: 50%;
  left: 1.2%;
  width: 13%;
  margin-left: 5%;
  margin-right: 15%;
  background: rgba(247, 247, 247, 0.2);
  border: 1px solid #ccc;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333; 
  padding: 10px; 
}
.rating h2{
  text-align: center;
}

.star {
  display: inline-block;
  width: 25px; 
  height: 25px; 
  background-image: url('../images/estar_vacia.webp');
  background-size: cover;
  margin-bottom: 7%;
}

.star.selected {
  background-image: url('../images/estar_llena.webp');
}

.pie {
  display: none;
}
/*footer*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
	align-items: center;
}
footer img{
  border-radius: 50%;
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
}
/*galeria*/
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  justify-content: space-evenly;
}
.gal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*personajes*/
.jane {
  height: 350px;
  margin-left: 18%;
  margin-top: 1%;
}
/* Estilos para la columna de la imagen */
article.persona {
  display: inline-flex;
  width: 100%;
  height: 40%;
  margin-top: 3%;
  margin-left: 2%;
  justify-content: space-around;
  align-items: center;
}
.texto-pers p {
  margin-left: 5%;
  margin-right: 7%;
  height: 70%;
  width: 70%;
  background: rgba(247, 247, 247, 0.692); 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color:#0c0c0c;
  padding: 10px; 
}
div.imagen-persona {
  width: 30%;
}
div.texto-persona {
  width: 75%;
}
.titulo_p {
  background: rgba(247, 247, 247, 0.692); 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color:#0c0c0c;
  font-size: x-large;
  width: 28%;
  margin-left: 5%;
}
/*pruebas torta*/
.fa {
  padding: 3%;
}
a {
  background-color: #fff1de;
}
nav {
  width: 100%;
  background-color:#fff1de; 
  z-index: 9999; 
  transition: all 0.3s ease; 
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.5%;
  display: flex;
  padding-bottom: 0px;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  transition: color 0.3s ease; 

}

nav a:hover {
  color: #ff6600;
}

.icon { display: none; }
/*pruebas*/
@media (max-width: 480px) { 
  body {
    background-image: url('../images/fond_form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  body.casa {
    background-image: url('../images/fond_form.jpg');
  }
  header{
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  header div, header a {
    flex: 1 0 50%;
  }
  header nav {
    flex-basis: 100%;
  }
  .icon {
    display: block;
    padding-right: 0.6rem;
    text-align: right;
  }
  nav ul {
    display: none;
  }
  nav.responsive ul {
    display: block;
  }
  nav.responsive ul li {
    display: block;
    text-align: center;
    padding: 0.5rem;
  }
  nav.responsive ul li a {
    padding-right: 0;
  }
  section{
    margin-top: 10%;
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section#trailer{
    margin-top: 0;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .principal{
    height: 250px;
    padding: 10%;
  }
  .secundario{
    margin-top: 1%;
    display: block;
  }
  .secundario div{
    width: 100%;
  }
  .secundario div a img{
    margin-bottom: 1rem;
  }
  h2{
    font-size: 1rem;
  }
  h4{
    font-size: 1rem;
  }
  footer{
    width: 85%;
    height: 80px;
    justify-content: space-evenly;
  }
  footer img{
    max-width: 2.5rem;
  }
  article.personajes {
    display: grid;
    margin-left: 7%;
    width: 93%;
    margin-bottom: 20%;
  }
  article.persona {
    display: grid;
  }
  article.personajes div{
    margin-top: 10%;
    background: rgba(122, 120, 120, 0.397); 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: rgb(255, 255, 255); 
    padding: 10px; 
    display: grid;
  }
  article.personajes div p{
     color: whitesmoke;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-76%);
  }
  
  nav li:hover .submenu { 
    display: block;
  }

  .introduction {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  color: #e9feff;
  background-color: rgba(51, 51, 51, 0.699);
  margin-bottom: 20px;
  width: 70%;
  }
  .texto-pers p {
    color: #0c0c0c;
  }
  .titulo_p {
    width: 70%;
  }
  article.personajes {
    display: none;
  }
  .video {
    display:block;
  }
  .video p{
    margin-left: 0;
  }
  .rating {
    position: relative;
    margin-top: 7%;
    width: 30%;
    margin-left: 17%;
    background: rgba(247, 247, 247, 0.2);
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333; 
    padding: 10px;
  }
  #video-iframe {
    width: 80%;
    margin-right: 2%;
  }
  body.trailer {
    overflow-x: hidden;
    overflow-y: auto;
  }
  img#titulito {
    width: 80%;
  }
  body.contacto {
    margin: 0;
    padding: 0;
    background-image: url('../images/fond_form.jpg');
  }
}
#titulo_p {
  text-align: center;
}
img.titulito {
  width: 20%;
  margin-top:3%;
}
/*submenu*/
#navbar .submenu {
  display: none;
  background-color: rgba(255, 255, 255, 0.9); /* Color de fondo casi transparente del submenu */
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Sombra del submenu */
}

#navbar li:hover .submenu {
  display: block;
}

#navbar .submenu li {
  padding: 10px;
}

#navbar .submenu a {
  color: #333; /* Color de texto del submenu */
}

#navbar .submenu a:hover {
  color: #ff6600; /* Color de texto del submenu al pasar el cursor por encima */
}
.home {
  margin-top: 5%;
  margin-left: 2%;
  width: 40%;
}
  /*form contacto*/
  /* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
  background-color: #ab7e44; 
}


.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab7e44; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab7e44; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab7e44; 
	border-color: #ab7e44; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: #ab7e44; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab7e44;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
